{% extends 'base.html' %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.description }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.stock }}</td>
                <td>{{ book.category }}</td>
                <td><button>Buy</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}