{% extends 'base.html' %}

{% block title %}All Books{% endblock %}

{% block content %}
<div class="d-grid gap-0 row-gap-5">
    <!-- ==================== FILTERS ==================== -->
    <div>
    <form method="get" class="filter-form">
        <input
            type="text"
            name="q"
            value="{{ current_query }}"
            placeholder="Search by Title or by Author"
        >

        <select name="author">
            <option value="">All Authors</option>
            {% for author in all_authors %}
                <option value="{{ author }}" {% if author == current_author %}selected{% endif %}>
                    {{ author }}
                </option>
            {% endfor %}
        </select>

        <input type="number" name="min_price" value="{{ current_min_price }}" placeholder="Min Price">
        <input type="number" name="max_price" value="{{ current_max_price }}" placeholder="Max Price">

        <select name="sort">
            <option value="-id" {% if current_sort == "-id" %}selected{% endif %}>New first</option>
            <option value="title" {% if current_sort == "title" %}selected{% endif %}>By title (A-Z)</option>
            <option value="-title" {% if current_sort == "-title" %}selected{% endif %}>By title (Z-A)</option>
            <option value="price" {% if current_sort == "price" %}selected{% endif %}>Cheaper at first</option>
            <option value="-price" {% if current_sort == "-price" %}selected{% endif %}>Expensive at first</option>
        </select>

        <button type="submit">Apply</button>
        <a href="{% url 'store:index' %}">Reset filters</a>
    </form>
    </div>

    <!-- =================== Books List ===================== -->
    <div class="row row-cols-1 row-cols-md-4 g-4">

        {% for book in books %}
            <div class="card">
              <img width="300" height="450" src="{{ book.image.url }}" class="card-img-top" alt="{{ book.title }}">
              <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">Author: {{ book.author }}</p>
                <p class="card-text">Price: {{ book.price }}</p>
              </div>
              <div class="card-footer"><a href={% url "store:book_detail" book.id %} class="btn btn-primary">Get details</a></div>
            </div>
        {% endfor %}

    </div>

    <!-- ==================== PAGINATION ==================== -->
    {% if is_paginated %}
        <div class="pagination justify-content-center mt-100" style="margin-top:30px">
            {% if page_obj.has_previous %}
            <div style="margin-left:30px">
                <a class="page-item" href="?page=1&{{ query_string }}">« </a>
                <a class="page-item" href="?page={{ page_obj.previous_page_number }}&{{ query_string }}"> Back </a>
            </div>
            {% endif %}

            <span style="margin-left:30px">Page {{ page_obj.number }} from {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
            <div style="margin-left:30px">
                <a class="page-item" href="?page={{ page_obj.next_page_number }}&{{ query_string }}"> Forward </a>
                <a class="page-item" href="?page={{ page_obj.paginator.num_pages }}&{{ query_string }}"> »</a>
            </div>
            {% endif %}
        </div>
    {% endif %}

</div>

{% endblock %}