<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мій Flask-сайт{% endblock %}</title>
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">-->
</head>
<body>
    <header>
        <h1>Мій Flask-проєкт</h1>
        <nav>
            <a href="/">Головна</a> |
            <a href="/contacts">Контакти</a>
        </nav>
        <hr>
    </header>

    <main>
        {% block content %}
        <!-- Тут дочірні шаблони підставляють свій контент -->
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p>&copy; 2026 Мій сайт</p>
    </footer>
</body>
</html>