<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {#<a href="/store/queries/">Приклади запитів</a><br>#}


    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href={% url "store:index" %} class="navbar-brand">Books Store</a>
            </li>

            {% if perms.store.add_book %}

            <li class="nav-item">
                <a href={% url "store:book_create" %} class="navbar-brand">Add Book</a>
            </li>

            {% endif %}

          </ul>



        </div>

        <div class="collapse navbar-collapse justify-content-end" >
              {% if user.is_authenticated %}

                <span>Hello, {{ user.username }}!</span>
                <form method="post" action="{% url 'accounts:logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>

              {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="navbar-brand" href="{% url 'accounts:login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="{% url 'accounts:register' %}">Register</a>
                    </li>
                </ul>
              {% endif %}
          </div>
      </div>
    </nav>

    <main class="container mt-5">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>